/* Styles personnalisés */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

header {
    background: url('../img/banner.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}
